@model GeneralAccount.Models.ACC_ALL2

@{
    ViewBag.Title = "Create_Check_Code";
}

<h2>Create_Check_Code</h2>
<div id="successs" class="alert alert-success" style="display:none">
    <strong> Inserted Successfully ..</strong>
</div>

<div id="failedd" class="alert alert-danger" style="display:none">
    <strong> Insertion Failed  ..</strong>
</div>

<div id="failedd-error" class="alert alert-danger" style="display:none">
    <strong>
        Error Code :<br>
        Code Must Be 3 Digits For Level One..<br>
        Code Must Be 6 Digits For Level Two..<br>
        Code Must Be 9 Digits For Level Three..<br>
        Code Must Be 4 Digits For Level Four..<br>
    </strong>
</div>


<Form id="test">`
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ACC_ALL2</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CODE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CODE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CODE, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.Account_Level, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Account_Level, "Choose Level", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Account_Level, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.liq_bal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.liq_bal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.liq_bal, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.LIQ_DR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LIQ_DR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LIQ_DR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LIQ_CR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LIQ_CR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LIQ_CR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SORTBY, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SORTBY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SORTBY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FLAG_TR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FLAG_TR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FLAG_TR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FL, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.CHK_NAV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CHK_NAV)
                    @Html.ValidationMessageFor(model => model.CHK_NAV, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.s_type_____, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.s_type_____, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.s_type_____, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" id="save" class="btn btn-default" />
            </div>
        </div>
    </div>
</Form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(document).ready(function () {
            $("#save").click(function () {

                if ($("#test").valid()) {
                    data = $("#test").serialize();

                    $.ajax({
                        type: "post",
                        url: "/ACC_ALL2/Create_Check_Code",
                        data: data,
                        success: function (response) {

                            if (response.error == 1) {
                                $("#failedd-error").slideDown(5000);
                                $("#failedd-error").slideUp(7000);
                            } else {

                                if (response.result == 1) {
                                    $("#successs").slideDown(1000);
                                    $("#successs").slideUp(1000);

                                } else {
                                    $("#failedd").slideDown(1000);
                                    $("#failedd").slideUp(1000);
                                }
                            }

                        }

                    })
                }
            })

        })
    </script>


}
